<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% if book %}Edição{% else %}Cadastro{% endif %} de Livros</title>
</head>
<body>
    <h1>{% if book %}Edição{% else %}Cadastro{% endif %} de Livro</h1>

    <form id="book-form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% if book %} Atualizar {% else %} Cadastrar{% endif %}</button>
    </form>

<p><a href="{% url 'book_list' %}">Voltar para a listagem de livros</a></p>
</body>

{% if book %}
<script>

        document.getElementById('book-form').addEventListener('submit', function(e) {
            e.preventDefault();
            const form = e.target;
            const data = new FormData(form);
            const jsonData = Object.formEntries(data.entries());

            fetch(window.location.href, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                    'X-CSRFToken': {{ csrf_token }}
                },
                body: JSON.stringify(jsonData)
            })
            .then(res => res.json())
            .then(data => {
                alert('Atualizado com sucesso!');
                window.location.href = "{% url 'book_list' %}";
            });
        });

</script>
{% endif %}

</html>